<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {{ font_awesome.load_css() }}
    {% endblock %}

    <title>{% block title %} {% endblock %}</title>
    {% endblock %}
</head>

<body>
    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {{ font_awesome.load_js() }}
    {% endblock %}
</body>

</html>
