<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS, optional -->
    {% block styles %}
    <link rel="stylesheet" href="static/global.css">
    {{ bootstrap.load_css() }}
    {{ font_awesome.load_css() }}
    {% endblock %}

    <title>{% block title %} {% endblock %}</title>
    {% endblock %}
</head>

<body>
    <!-- Page content, required -->
    {% block content %}{% endblock %}

    <!-- JavaScript, optional -->
    {% block scripts %}
    <script src="//unpkg.com/alpinejs" defer></script>
    {{ bootstrap.load_js() }}
    {{ font_awesome.load_js() }}
    {% endblock %}
</body>

</html>
