{% extends "layout.html" %}

{% block title %}{{_("App Name")}}: {{_("Log in")}}{% endblock %}

{% block content %}
<div class="position-absolute translate-middle top-50 start-50">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{_("App Name")}}</h5>
            <hr>
            <p>{{_("To continue, please log in with your GitHub account.")}}</p>
            <a href="#" class="btn btn-primary">
                {{font_awesome.render_icon("fab fa-github")}}
                {{_("Log in using GitHub")}}
            </a>
        </div>
    </div>
</div>

{% endblock %}
